/* ========================= */
/* VARIABLES GLOBALES */
/* ========================= */

:root{

    /* Tipografía */

    --font-family:"Poppins",sans-serif;

    /* Colores principales */

    --background:#0F172A;

    --surface:#1E293B;

    --surface-hover:#334155;

    --primary:#3B82F6;

    --primary-hover:#2563EB;

    --text:#F8FAFC; 

    --text-secondary:#CBD5E1;

    --success:#22C55E;

    --danger:#EF4444;

    --border:rgba(255,255,255,.1);

    /* Sombras */

    --shadow:

        0 15px 35px rgba(0,0,0,.35);

    /* Bordes */

    --radius:20px;

    /* Animaciones */

    --transition:.3s;

}